html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: lightpink;
  color: black;
}

button {
  background: rebeccapurple;
  color: #fff;
  padding: 0 45px;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: plum;
}
